# Rename this file to .env and provide your MongoDB connection string.
# Example for a local MongoDB instance:
# MONGO_DB=mongodb://127.0.0.1:27017/homebuddy

# Example for MongoDB Atlas:
# MONGO_DB=mongodb+srv://<user>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority
